

body {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    margin: 0;
    overflow: 0;
}

.container {
    width: 100vw;
    height: 100vh;
    background: rgb(25,16,222);
    background: linear-gradient(90deg, rgba(25,16,222,1) 0%, rgba(47,47,108,1) 38%, rgba(27,34,36,1) 92%);
    background-position: center;
    align-items: center;
    justify-content: center;
    display: flex;
    margin: 0;
    overflow: 0;

}

.box {
    font-size: 14px;
    cursor: pointer;
    width: 80px;
    height: 55px;
    background-color: #616161;
    margin: 2px;
    border-radius: 4px;
}

.box:hover {
    transform: scale(98%);
}